.show-list {
  max-height: 500px !important;
  transition: max-height 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a {
  display: inline-block;
  width: 100%;
  /* height: 20px !important; */
  padding: 5px 10px;
  color: white;
}

nav ul,
nav ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav ul {
  width: 200px;
  background: dodgerblue;
} 

nav ul ul {
  background: rgb(13, 130, 141);
  margin-left: 15px;
  border-left: 1px dashed white;
  /* height: 10px; */
  transition: max-height 0.5s ease-in-out;
}

nav ul ul ul {
  background: rgb(1, 8, 8);
  margin-left: 15px;
  border-left: 1px dashed white;
  /* height: 10px; */
  transition: max-height 0.5s ease-in-out;
}

nav ul ul ul ul {
  background: rgb(10, 41, 179);
  margin-left: 15px;
  border-left: 1px dashed white;
  height: 50px;
  transition: max-height 0.5s ease-out;
}

ul li ul {
  max-height: 0 !important;
  transition: max-height 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

body {
  background-color: black;
  color: wheat;
}
